<tr>
  <td><%= invitee.name.try(:titleize) %></td>
  <td><%= invitee.decorate.full_address %></td>
  <td><%= invitee.mobile %></td>
  <td><%= invitee.decorate.is_invited %></td>
  <td>
    <%= link_to content_tag(:i, nil, class: 'glyphicon glyphicon-edit'), 'javascript:void(0);', remote: true, class: 'edit-invitee', data: { id: invitee.id } %>&nbsp;
    <%= link_to content_tag(:i, nil, class: 'glyphicon glyphicon-trash'), invitee_path(invitee), method: :delete, data: { confirm: "Are your sure?" } %>
  </td>
</tr>
